
body{
	background-color: #a1d7fc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1d7fc), color-stop(100%, #a8e0b9));
    background-image: -webkit-linear-gradient(top, #a1d7fc, #a8e0b9);
    background-image: -moz-linear-gradient(top, #a1d7fc, #a8e0b9);
    background-image: -ms-linear-gradient(top, #a1d7fc, #a8e0b9);
    background-image: -o-linear-gradient(top, #a1d7fc, #a8e0b9);
    background-image: linear-gradient(top, #a1d7fc, #a8e0b9);
}
#search_container{
	margin: 20px;
}

#results_container p{
	text-align:left;
	margin-left:30px;
}

ul.list-unstyled{
	color: #ff2e5f;
	padding-top:20px;
	padding-bottom:40px;
}

ul.list-unstyled a{
	color: #ff2e5f;
}

#results_container h3 {
	color: #ff2e5f;
	text-align: left;
	margin-left: 30px;
}
.my-footer{
	display: none;
}
div.radio{
	margin:5px;
}
.parameters_wrapper{
	margin:10px;
}

div.row.result_row{
	padding:20px;
	border-bottom: 1px dashed #ddd;
}

.cropped{
	max-width: 100px;
}

div.img.col-md-4{
	text-align:right;
}

a.gh_button_pink_bg {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

input[type=search], select {
	height: 30px !important; 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.white-bg-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	margin-bottom:10px;
    background-color: #fdfdfd;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    padding:15px;
    opacity:0.99;
}

.result{
	display: flex;
	align-items: center;
	justify-content: center;
}

